<section class="mx-10">
  <h1 class="text-3xl">{{ country().name }}</h1>
  <h2 class="text-xl font-thin">
    Población {{ country().population | number }}
  </h2>
</section>

<section class="stats shadow mx-5">
  <div class="stat place-items-center">
    <div class="stat-title">Población</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">Desde {{ currentYear() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value text-secondary">{{ country().name }}</div>
    <div class="stat-desc text-secondary">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Sub Region</div>
    <div class="stat-value">{{ country().subRegion }}</div>
    <div class="stat-desc">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Bandera</div>
    <div class="stat-value">{{ country().flag }}</div>
    <div class="stat-desc">{{ country().subRegion }}</div>
  </div>
</section>

<section class="diff aspect-[16/9]">
  <div class="diff-item-1">
    <img [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-item-2">
    <img
      class="blur brightness-75"
      [alt]="country().name"
      [src]="country().flagSvg"
    />
  </div>
  <div class="diff-resizer"></div>
</section>
