---
import Layout from "../layouts/Layout.astro";
import HiddenSearch from "../components/HiddenSearch.astro";
---

<Layout title="Welcome to Astro.">
   <div class="flex h-screen w-full p-6">
        <HiddenSearch/>
   </div>   
</Layout>