---
import Layout from "../layouts/Layout.astro";
import Progress from "../components/Progress.astro";
---

<Layout title="Welcome to Astro.">
   <div class="flex h-screen w-full p-6 gap-6">
        <Progress lengthProgress={6}/>
   </div>   
</Layout>