<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.active {
    color: #212121;
    background-color: aquamarine;
    padding: 10px;
  }
</style>


<nav>
  <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contador</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="['active']">Hero</a>
  <a routerLink="/dragonball" routerLinkActive="active">dragonball</a>
  <a routerLink="/dragonball-super" routerLinkActive="active">dragonballSuper</a>


  <!-- otro -->

</nav>