<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a routerLink="by-capital" routerLinkActive="btn-primary" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            d="M.5 15.5v-2.25S6 10.5 9.75 9.5V4.211c0-.79.23-1.565.707-2.194c.364-.48.828-1.052 1.293-1.517h.5c.465.465.93 1.037 1.293 1.517c.478.629.707 1.404.707 2.194V9.5c3.75 1 9.25 3.75 9.25 3.75v2.25s-5.5-1-9.25-1c0 0-.5 2.28-.5 6.5c0 0 1.25.75 2.25 1.75v.5S13.75 23 12 23s-4 .25-4 .25v-.5c1-1 2.25-1.75 2.25-1.75c0-4.22-.5-6.5-.5-6.5c-3.75 0-9.25 1-9.25 1Z"
          />
        </svg>
        Por capital
      </a>
    </li>
    <li>
      <a routerLink="by-country" routerLinkActive="btn-primary" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="none"
            stroke="currentColor"
            d="M4 12h2m12 0h2M.5 16.5V20H1a43 43 0 0 1 3-.37M.5 16.5H1a3 3 0 0 1 3 3v.13M.5 16.5v-9M4 19.63a95 95 0 0 1 8-.38c2.134 0 5.281.127 8 .38m0 0a43 43 0 0 1 3 .37h.5v-3.5M20 19.63v-.13a3 3 0 0 1 3-3h.5m0 0v-9m0 0V4H23a43 43 0 0 1-3 .37m3.5 3.13H23a3 3 0 0 1-3-3v-.13m0 0a95 95 0 0 1-8 .38a95 95 0 0 1-8-.38m0 0A43 43 0 0 1 1 4H.5v3.5M4 4.37v.13a3 3 0 0 1-3 3H.5m11.5 7a2.5 2.5 0 1 1 0-5a2.5 2.5 0 0 1 0 5Z"
          />
        </svg>
        Por país
      </a>
    </li>
    <li>
      <a routerLink="by-region" routerLinkActive="btn-primary" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="none"
            stroke="currentColor"
            d="M9.5.5V2A1.5 1.5 0 0 0 11 3.5h2A1.5 1.5 0 0 0 14.5 2V.5m-4.5 20h4M4.5.75S5 7.492 5 12s-.5 11.25-.5 11.25v.25h15v-.25S19 16.508 19 12S19.5.75 19.5.75V.5h-15z"
          />
        </svg>
        Por region
      </a>
    </li>
  </ul>
</nav>
