<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Casas</h2>
  <h3 class="text-xl text-gray-500 mb-2">
    {{ houses().length }} casas disponibles
  </h3>
</section>

<section
  class="container mx-auto grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2"
>
  @for (house of houses(); track house.id; let i = $index) {
  <!-- Card -->
  <div class="card bg-base-100 shadow-xl rounded-t-md overflow-hidden">
    <app-mini-map [lngLat]="house.lngLat" [zoom]="15" />

    <!-- <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure> -->
    <div class="card-body">
      <h2 class="card-title">
        {{ house.name }}
        @if (i === 1) {
        <div class="badge badge-secondary">Nuevo</div>
        }
      </h2>
      <p>{{ house.description }}</p>
      <div class="card-actions justify-end">
        @for (tag of house.tags; track $index) {
        <div class="badge badge-outline badge-accent">{{ tag }}</div>

        }
      </div>
    </div>
  </div>

  <!-- Card -->

  }
</section>
